<%- include("partials/head.ejs") %>

<%- include("partials/header.ejs") %>

<main id="index">
    <h1>The Todos App</h1>
    <form action="/logout" method="post">
        <input type="submit" value="logout"/>
    </form>
    <a href="/todo/new" ><button>Create Todo</button></a>
    
    <ul>
        <% todos.forEach((todo, index) => { %>

            <a href="/todo/<%= todo._id %>">
            <li class="todo <%= todo.completed ? 'completed' : null %>"><%= todo.message %></li>
            </a>

        <% }) %>

    </ul>


</main>
